*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    margin-bottom: 100px;
}

.top-bar{
    display: flex;
    padding: 20px 10px 0px 10px;
    font-size: 20px;
}

.tb-section{
    width: 33.3%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options{
    min-width: 500px;
    color: white;
    display: flex;
    justify-content: space-around;

}

.button{
    border-radius: 50px;
    text-decoration: none;
}

.access{
    padding: 10px 20px 10px 20px;
    color: black;
    background-color: white;

}

.introduction{
    width: 50%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

h1{
    font-size: 60px;
    padding-top: 200px;
    padding-bottom: 30px;
}

.introduction p{
    font-size: 25px;
    padding-bottom: 20px;
}

.intro-buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 150px;
    font-weight: 400;
}

.download{
    padding: 15px 30px 15px 30px;
    font-size: 25px;
    color: rgb(34, 30, 30);
    background-color: white;
}

.open{
    padding: 15px 30px 15px 30px;
    font-size: 25px;
    color: white;
    background-color: rgb(44, 39, 39);
}

main{
    width: 80%;
    margin: auto;
    margin-bottom: 200px;
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100 px;
    margin-bottom: 100px;
}

.main-section img{
    width: 65%;
}

.main-section div{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.main-section h2{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 60px;
}
.main-section p{
    font-size: 30px;
}

.big{
    flex-direction: column;
    text-align: center;
}

.big div{
    width: 100%;
}
.big img{
    align-self: center;
}

.stars{
    width: 55%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.main-button{
    text-align: center;
}

.download-main{
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(165, 99, 226);
    color: white;
}

footer{
    height: 1000px;
    background-color: rgb(34, 30, 30);
}

.all-lists
{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    display: flex;
}

.list{
    width: 20%;
    padding-right: 30px;
}

.first-list h3{
    color: rgb(165, 99, 226);
    font-size: 40px;
    padding-bottom: 20px;
}
 .first-list img{
    height: 1em;
 }
 .first-list span, .first-list i{
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
 }

 .icons{
    height: 100px;
 }
 .icons i{
    color: white;
    margin-right: 1em;
    font-size: 2em;
 }

 ul{
    list-style: none;
    font-size: 25px;
    color: white;
 }
 li{
    padding-bottom: 20px;
 }

 ul :first-child{
    color: rgb(165, 99, 226);
 }
